@model MVC_DziennikSzkolny.Models.ListaPrzedmiotowKlasy

@{
    ViewBag.Title = "AddPrzedmiot";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}
<h2>Dodaj przedmiot</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Przydziel przedmiot dla klasy @ViewBag.klasa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            <input id="klasaID" name="klasaID" type="hidden" class="form-control" value=@ViewBag.klasaID>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.nauczycielPrzedmiotID, "nauczycielPrzedmiotID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("nauczycielPrzedmiotID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nauczycielPrzedmiotID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
