@model MVC_DziennikSzkolny.Models.ListaPrzedmiotowKlasy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListaPrzedmiotowKlasy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.klasa.symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klasa.symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nauczycielPrzedmiot.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nauczycielPrzedmiot.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
