


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Panel admina</h2>
<ul class="nav nav-tabs" id="menu">
    <li role="presentation" id="AdminPanel" ><a href="/Admin/Panel">Panel</a></li>
    <li role="presentation" id="AdminUczniowie" ><a href="/Uczens">Uczniowie</a></li>
    <li role="presentation" id="AdminRodzice">@Html.ActionLink("Rodzice", "Index", "Rodzics")</li>
    <li role="presentation" id="AdminNauczyciele">@Html.ActionLink("Nauczyciele", "Index", "Nauczyciels")</li>
    <li role="presentation" id="AdminKlasy">@Html.ActionLink("Klasy", "Index", "Klasas")</li>
    <li role="presentation" id="AdminPrzedmioty">@Html.ActionLink("Przedmioty", "Index", "Przedmiots")</li>
   
</ul>
<div class="jumbotron">
  
    @RenderBody()
</div>
<!--
<script>
    $(document).ready(function () {
        alert("OOoooooo");
        //e.preventDefault()TODO:jquery
        //$(this).addClass("active");
    });
</script>-->