


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Panel admina</h2>
<ul class="nav nav-tabs">
    <li role="presentation" id="Panel">@Html.ActionLink("Panel", "Index", "Admin")</li>
    <li role="presentation" id="Uczniowie">@Html.ActionLink("Uczniowie", "Index", "Uczens")</li>
    <li role="presentation" id="Rodzice">@Html.ActionLink("Rodzice", "Index", "Rodzics")</li>
    <li role="presentation" id="Nauczyciele">@Html.ActionLink("Nauczyciele", "Index", "Nauczyciels")</li>
    <li role="presentation" id="Klasy">@Html.ActionLink("Klasy", "Index", "Klasas")</li>
    
</ul>
<div class="jumbotron">
  
    @RenderBody()
</div>