@model IEnumerable<MVC_DziennikSzkolny.Models.Przedmiot>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}
<h2>Lista przedmiotów</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.przedmiotID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.przedmiotID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.przedmiotID }) |
            @Html.ActionLink("Dodaj nauczyciela", "AddNauczyciel", "ListaNauczycieliPrzedmiotus", new { id = item.przedmiotID }, null) |
            @Html.ActionLink("Dodaj klasę", "AddKlasa", "ListaPrzedmiotowKlasies", new { id = item.przedmiotID }, null)




 
          </td>
    </tr>
}

</table>

<script>
    $(document).ready(function () {
        $("#AdminPrzedmioty").addClass("active");
    });
</script>