@model MVC_DziennikSzkolny.Models.Klasa

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}
<h2>Szczegóły</h2>

<div>
    <h4>Klasa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Wychowawca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nauczyciel.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rok_rozpoczecia_toku_ksztalcenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rok_rozpoczecia_toku_ksztalcenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symbol)
        </dd>

    </dl>

    </div>
<div>
    Lista uczniów:
    <table class="table table-hover">
        @foreach (var item in Model.uczens.OrderBy(u=>u.Nazwisko))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "Uczens", new { id = item.uczenID }, null) |

                </td>
            </tr>

        }
    </table>
  <!--  Html.ActionLink("Dodaj ucznia", "AddUczen",  new { id = Model.klasaID })   POPSUTE-->


</div>
<div>
    Lista przedmiotów:
    <table class="table table-hover">
        @foreach (var item in Model.przedmioty)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nauczycielPrzedmiot.przedmiot.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nauczycielPrzedmiot.nauczyciel.Nazwisko)
                    @Html.DisplayFor(modelItem => item.nauczycielPrzedmiot.nauczyciel.Imie)
   </td>


                <td>
                    @Html.ActionLink("Details", "Details", "Przedmiots", new { id = item.nauczycielPrzedmiot.przedmiot.przedmiotID }, null) |

                </td>
            </tr>

        }
    </table>
@Html.ActionLink("Dodaj przedmiot", "AddPrzedmiot", "ListaPrzedmiotowKlasies", new { id = Model.klasaID }, null)

</div>


<p>

    @Html.ActionLink("Edytuj", "Edit", new { id = Model.klasaID }) |
    @Html.ActionLink("Powrót do listy klas", "Index")
</p>

<script>
    $(document).ready(function () {
        $("#AdminKlasy").addClass("active");
    });
</script>