@model MVC_DziennikSzkolny.Models.ZajetoscSalLekcyjnych

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ZajetoscSalLekcyjnych</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.klasa.symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klasa.symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nauczycielPrzedmiot.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nauczycielPrzedmiot.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salaLekcyjna.saleLekcyjneID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaLekcyjna.saleLekcyjneID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dzienTygodnia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dzienTygodnia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerGodzinyLekcyjnej)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerGodzinyLekcyjnej)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
