@model IEnumerable<MVC_DziennikSzkolny.Models.ZajetoscSalLekcyjnych>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.klasa.symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nauczycielPrzedmiot.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salaLekcyjna.saleLekcyjneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dzienTygodnia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numerGodzinyLekcyjnej)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.klasa.symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nauczycielPrzedmiot.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salaLekcyjna.saleLekcyjneID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dzienTygodnia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numerGodzinyLekcyjnej)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.zajetoscSalLekcyjnychID }) |
            @Html.ActionLink("Details", "Details", new { id=item.zajetoscSalLekcyjnychID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.zajetoscSalLekcyjnychID })
        </td>
    </tr>
}

</table>
