


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Panel rodzica</h2>
<ul class="nav nav-tabs">
    <li role="presentation" id="RodzicPanel" > @Html.ActionLink("Panel", "Panel", "Rodzic")</li>
    <li role="presentation" id="RodzicProfil">@Html.ActionLink("Profil rodzica", "ProfilRodzica", "Rodzic")</li>
    <li role="presentation" id="RodzicProfilUcznia">@Html.ActionLink("Profil ucznia", "ProfilUcznia", "Rodzic")</li>
    <li role="presentation" id="RodzicOceny">@Html.ActionLink("Oceny", "Oceny", "Rodzic")</li>
   <li role="presentation" id="RodzicOgloszenia">@Html.ActionLink("Ogłoszenia", "Ogloszenia", "Rodzic")</li>
</ul>
<div class="jumbotron">
 
    @RenderBody()
</div>