@model IEnumerable<MVC_DziennikSzkolny.Models.Uczen>

@{
    ViewBag.Title = "ProfilUcznia";
}
@{
    Layout = "~/Views/Rodzic/_LayoutPanel.cshtml";
}



@foreach (var item in Model)
{
    <div>
        <h4>Uczen:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Klasa
            </dt>

            <dd>
               @Html.DisplayFor(modelItem => item.klasa.symbol)
            </dd>

         

            <dt>
                @Html.DisplayNameFor(model => model.Data_urodzenia)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Data_urodzenia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imie)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Imie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pesel)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Pesel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nr_telefonu)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Nr_telefonu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.email)
            </dd>



        </dl>
        </div>
            }
  
<script>
    $(document).ready(function () {
        $("#RodzicProfilUcznia").addClass("active");
    });
</script>    