@model MVC_DziennikSzkolny.Models.Uczen
@{
    ViewBag.Title = "Profil";
}
@{
    Layout = "~/Views/Uczen/_LayoutPanel.cshtml";
}
    
<div>
    <h4>Dane ucznia</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_telefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            Data urodzenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_urodzenia)
        </dd>
        <dt>
            Klasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klasa.rok_rozpoczecia_toku_ksztalcenia)
            @Html.DisplayFor(model => model.klasa.symbol)
        </dd>

        <dt>
            Rodzic
        </dt>

        <dd>

            @Html.DisplayFor(model => model.rodzic.Imie)
            @Html.DisplayFor(model => model.rodzic.Nazwisko)
        </dd>

      

    </dl>
</div>


<script>
    $(document).ready(function () {
        $("#UczenProfil").addClass("active");
    });
</script>