


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Panel nauczyciela</h2>
<ul class="nav nav-tabs">
    <li role="presentation" id="menuPanel" > @Html.ActionLink("Panel", "Panel", "Nauczyciel")</li>
    <li role="presentation" id="menuProfil">@Html.ActionLink("Profil", "Profil", "Nauczyciel")</li>
    <li role="presentation" id="menuOceny">@Html.ActionLink("Oceny", "Oceny", "Nauczyciel")</li>
    <li role="presentation" id="menuPrzedmioty">@Html.ActionLink("Przedmioty", "Przedmioty", "Nauczyciel")</li>
    <li role="presentation" id="menuUczniowie">@Html.ActionLink("Uczniowie", "Uczniowie", "Nauczyciel")</li>
  <li role="presentation" id="menuOgloszenia">@Html.ActionLink("Ogłoszenia", "Ogloszenia", "Nauczyciel")</li>
    <li role="presentation" id="menuSale">@Html.ActionLink("Sale", "Sale", "Nauczyciel")</li>

</ul>
<div class="jumbotron">
 
    @RenderBody()
</div>