


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Panel nauczyciela</h2>
<ul class="nav nav-tabs">
    <li role="presentation" > @Html.ActionLink("Panel", "Panel", "Nauczyciel")</li>
    <li role="presentation">@Html.ActionLink("Profil", "Profil", "Nauczyciel")</li>
    <li role="presentation">@Html.ActionLink("Oceny", "Oceny", "Nauczyciel")</li>
    <li role="presentation">@Html.ActionLink("Wystaw oceny", "WystawOceny", "Nauczyciel")</li>
    <li role="presentation">@Html.ActionLink("Przedmioty", "Przedmioty", "Nauczyciel")</li>
   <li role="presentation">@Html.ActionLink("Wiadomości", "Wiadomosci", "Nauczyciel")</li>
    <li role="presentation">@Html.ActionLink("Ogłoszenia", "Ogloszenia", "Nauczyciel")</li>
</ul>
<div class="jumbotron">
 
    @RenderBody()
</div>