@model MVC_DziennikSzkolny.Models.SaleLekcyjne


@{
    ViewBag.Title = "DetailsSale";
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}

<h2>Szczegóły sali</h2>




<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Numer sali
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerSali)
        </dd>

        <dt>
          Piętro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pietro)
        </dd>

    </dl>
</div>
<div>
    Zajętość sali:
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Dzień tygodnia</th>
                <th>Godzina lekcyjna</th>
                <th>Klasa</th>
                <th>Nauczyciel</th>
                <th>Przedmiot</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var z in Model.zajetoscSali.OrderBy(x => x.dzienTygodnia))
            {

                <tr>
                    <td>@z.dzienTygodnia</td>
                    <td>@z.numerGodzinyLekcyjnej</td>
                    <td>@z.klasa.symbol</td>
                    <td>@z.nauczycielPrzedmiot.nauczyciel.Nazwisko @z.nauczycielPrzedmiot.nauczyciel.Imie</td>
                    <td>@z.nauczycielPrzedmiot.przedmiot.nazwa</td>
                </tr>

            }
        </tbody>

    </table>




</div>


<script>
    $(document).ready(function () {
        $("#menuSale").addClass("active");
   });

</script>