@model IEnumerable<MVC_DziennikSzkolny.Models.ListaPrzedmiotowKlasy>
@{
    ViewBag.Title = "Oceny";
}
@{
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
    
}

<h2>Oceny</h2>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">

        @foreach (var item in Model)
        {

            <div class="panel-heading" role="tab" id="heading" @item.ID>
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=#@item.ID aria-expanded="false" aria-controls=@item.ID>
                        <div class="row">
                            <div class="col-md-4">
                                Klasa:
                                @Html.DisplayFor(modelItem => item.klasa.symbol)
                                Przedmiot:
                                @Html.DisplayFor(modelItem => item.nauczycielPrzedmiot.przedmiot.nazwa)
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                @Html.ActionLink("Wystaw oceny klasie", "WystawOcenyKlasie", new { id = item.ID})
                             
                            </div>
                        </div>
</a>
                </h4>
            </div>
            <div id=@item.ID class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading" @item.ID>
                <div class="panel-body">
                   
                   
                    <table class="table table-hover">
                      

                            @foreach (var u in item.klasa.uczens)

                            {

                                <tr>
                                    <td>

                                        @Html.DisplayFor(modelU => u.Imie)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelU => u.Nazwisko)
                                    </td>
                                    <td>oceny</td>
                                    <td> 
                                        <!--TODO: nie jest dolaczony JS-->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nauczycielOcenyModal" data-whatever="xxx">Wystaw ocenę</button>
                                        
                                        <div class="modal fade" id="nauczycielOcenyModal" tabindex="-1" role="dialog" aria-labelledby="nauczycielOcenyModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="nauczycielOcenyModalLabel">Nowa ocena dla ucznia: nazwisko_imie</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="przedmiot" class="control-label">Przedmiot:</label>
                                                                <input type="text" class="form-control" id="przedmiot" value="przedmiot_nazwa" disabled>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="opis" class="control-label">Opis:</label>
                                                                <input type="text" class="form-control" placeholder="Wprowadź opis..." id="opis">
                                                            </div>
                                                            
                                                          <label for="ocenaRadio" class="control-label">Ocena:</label>
                                                            <div class="btn-group" data-toggle="buttons" id="ocenaRadio">
                                                                <label class="btn btn-default">
                                                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>1
                                                                </label>
                                                                <label class="btn btn-default">
                                                                    <input type="radio" name="options" id="option2" autocomplete="off">2
                                                                </label>
                                                                <label class="btn btn-default">
                                                                    <input type="radio" name="options" id="option3" autocomplete="off">3

                                                                </label> <label class="btn btn-default">
                                                                    <input type="radio" name="options" id="option4" autocomplete="off">4
                                                                </label>
                                                                <label class="btn btn-default">
                                                                    <input type="radio" name="options" id="option5" autocomplete="off">5
                                                                </label>
                                                                <label class="btn btn-default">
                                                                    <input type="radio" name="options" id="option6" autocomplete="off">6
                                                                </label>
                                                                
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                        <button type="button" class="btn btn-primary">Zapisz</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                   
                                       
                                    </td>

                                </tr>

                        }
                    </table>
                </div>
            </div>

        }
    </div>
</div>