@model IEnumerable<MVC_DziennikSzkolny.Models.ListaPrzedmiotowKlasy>
@{
    ViewBag.Title = "Oceny";
}
@{
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
    
}

<h2>Oceny</h2>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">

        @foreach (var item in Model)
        {

            <div class="panel-heading" role="tab" id="heading" @item.ID>
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=#@item.ID aria-expanded="false" aria-controls=@item.ID>
                        <div class="row">
                            <div class="col-md-4">
                                Klasa:
                                @Html.DisplayFor(modelItem => item.klasa.symbol)
                                Przedmiot:
                                @Html.DisplayFor(modelItem => item.nauczycielPrzedmiot.przedmiot.nazwa)
                            </div>
                          
                        </div>
</a>
                </h4>
            </div>
            <div id=@item.ID class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading" @item.ID>
                <div class="panel-body">
                   
                   
                    <table class="table table-hover">


    @foreach (var u in item.klasa.uczens)

    {

        <tr>
            <td>

                @Html.DisplayFor(modelU => u.Imie)

            </td>
            <td>
                @Html.DisplayFor(modelU => u.Nazwisko)
            </td>
            <td>
                    @foreach (var o in u.oceny.Where(x=>x.przedmiotID==item.nauczycielPrzedmiot.przedmiotID))
                    {
                        <button type="button" class="btn btn-default btn-sm">@Html.DisplayFor(modelO => o.wartosc)</button>
                       
                    }

            </td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nauczycielOcenyModal" data-uczenid=@u.uczenID data-uczennazwisko=@u.Nazwisko data-uczenimie=@u.Imie data-przedmiotid=@item.nauczycielPrzedmiot.przedmiot.przedmiotID data-przedmiotnazwa=@item.nauczycielPrzedmiot.przedmiot.nazwa>Wystaw ocenę</button>

                <div class="modal fade" id="nauczycielOcenyModal" tabindex="-1" role="dialog" aria-labelledby="nauczycielOcenyModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="nauczycielOcenyModalLabel">Nowa ocena dla ucznia: nazwisko_imie</h4>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-body">


                                    <div class="form-group">
                                        <input id="przedmiotID" name="przedmiotID" type="hidden" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="uczenID" name="uczenID" type="hidden" class="form-control">
                                    </div>
                                <!--TODO : walidacje-->
                                                <div class="form-group">
                                                    <label for="opis" class="control-label">Opis:</label>
                                                    <input name="opis" type="text" class="form-control" placeholder="Wprowadź opis..." id="opis" >
                                                   
                                                </div>

                                                                <label for="ocenaRadio" class="control-label">Ocena:</label>
                                                                <div class="btn-group" data-toggle="buttons" id="ocenaRadio" >
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="options" id="option1" autocomplete="off" value="1">1
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" value="2">2
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="options" id="option3" autocomplete="off" value="3">3

                                                                    </label> <label class="btn btn-default">
                                                                        <input type="radio" name="options" id="option4" autocomplete="off" value="4">4
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="options" id="option5" autocomplete="off" value="5">5
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="radio" name="options" id="option6" autocomplete="off" value="6">6
                                                                    </label>

                                                                </div>
                                    
                                                    
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                        <input type="submit" class="btn btn-primary" value="Zapisz"/>
                                                        
                                                    </div>
                                                </div>
                            }
                                            </div>
                                        </div>

                    </div>

                                    </td>

                                </tr>

                            }
                        </table>
                </div>
            </div>

        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#menuOceny").addClass("active");
    });

    $('#nauczycielOcenyModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var uczenID = button.data('uczenid') // Extract info from data-* attributes
        var przedmiotID = button.data('przedmiotid')
        var uczenNazwisko = button.data('uczennazwisko') // Extract info from data-* attributes
        var uczenImie = button.data('uczenimie') // Extract info from data-* attributes
        var przedmiot = button.data('przedmiotnazwa')

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Nowa ocena dla ucznia: ' + uczenNazwisko+' '+uczenImie +' z przedmiotu: '+przedmiot)
        modal.find('#przedmiotID').val(przedmiotID)
        modal.find('#uczenID').val(uczenID)
    })
</script>