@model IList<MVC_DziennikSzkolny.Models.Ocena>
   
@{
    ViewBag.Title = "WystawOceny";
}
@{
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}
<h2>Wystaw oceny klasie: @ViewBag.klasaSymbol</h2>
<h3> z przedmiotu @Model.First().przedmiot.nazwa </h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
   <!-- <div class="form-group">
        <label for="przedmiot" class="control-label">Przedmiot:</label>
        <input type="text" class="form-control" id="przedmiot" value=Model.First().przedmiot.nazwa disabled>
    </div>
       -->
    <div class="form-group">
        <label for="opis" class="control-label">Opis:</label>
        <input type="text" class="form-control" placeholder="Wprowadź opis..." id="opis">
    </div>

        <table class="table table-hover">
            <tr>
                <th>
                    Imie
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Oceny
                </th>
                <th> Nowa ocena</th>
            </tr>
            @{ 
                int i = 0;
            }
            @foreach (var o in Model)
            {
                @Html.HiddenFor(modelU => o.uczenID)
                <tr>
                    <td>
                        
                        @Html.DisplayFor(modelU => o.uczen.Imie)
                        @Html.HiddenFor(modelU => o.uczenID)

                    </td>
                    <td>
                        @Html.DisplayFor(modelU => o.uczen.Nazwisko)
                    </td>
                    <td>oceny_z_przemiotu</td>
                    <td>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="[@i].wartosc" id="option1" autocomplete="off" checked>1
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="[@i].wartosc" id="option2" autocomplete="off">2
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="[@i].wartosc" id="option3" autocomplete="off">3

                            </label> <label class="btn btn-default">
                                <input type="radio" name="[@i].wartosc" id="option4" autocomplete="off">4
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="[@i].wartosc" id="option5" autocomplete="off">5
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="[@i].wartosc" id="option6" autocomplete="off">6
                            </label>
                            <label class="btn btn-default active" active>
                                <input type="radio" name="[@i].wartosc" id="option0" autocomplete="off" checked> Brak
                            </label>
                        </div>
                    </td>
                </tr>
                i++;
            
            }
        </table>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}