@model MVC_DziennikSzkolny.Models.Nauczyciel

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}
<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz usunąć?</h3>
<div>
    <h4>Nauczyciel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

       
      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#AdminNauczyciele").addClass("active");
    });
</script>