@model MVC_DziennikSzkolny.Models.Uczen

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}
<h2>Usuń</h2>

<h3>Czy jesteś pewien że chcesz usunąć:</h3>
<div>
    <h4>Uczen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Klasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klasa.symbol)
        </dd>

        <dt>
         Rodzic
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzic.Imie)
            @Html.DisplayFor(model => model.rodzic.Nazwisko)
   </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_urodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_urodzenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nr_telefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_telefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usun" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#AdminUczniowie").addClass("active");
    });
</script>